<header>
    <a class="left"><img src="assets/webinar.jpg" alt="webinar" width="60" height="60">
    <label >  Espace Admin</label>
    </a>
    <a class="right">
        <label >Date et adresse</label>
        <img src="assets/off.png" alt="shut down" width="40" height="40">
    </a>
</header>

<body>
    <br>
    <br>
    <br>
        
        <img src="assets/chercher.png" alt="chercherimg" width="30" height="30">
        <textarea>chercher session</textarea> 
           
    <br>
     <ul>
        
        <br>
        <li div="dash" routerLink="./adminDashboard" routerLinkActive="active">
           
           <img src="assets/dash.png" alt="dashimg" width="40" height="40">
            <label> Dashboard</label>
          
        </li>
        <br>
       
        <li div="sessions"  routerLink="./adminSessions" routerLinkActive="active">
           
            <img src="assets/sessions.png" alt="sessions" width="40" height="40">
             <label> Sessions</label>
           
         </li>
       
         <br>
         <li div="formateur" routerLink="./adminFormateurs" routerLinkActive="active">
           
            <img src="assets/formateur.png" alt="formateur" width="40" height="40"> 
            <label> Formateurs</label>
           
         </li>
         <br>
         <li div="participants" routerLink="./adminParticipant" routerLinkActive="active">
           
            <img src="assets/participant.png" alt="participant" width="40" height="40">
             <label> Participants</label>
           
         </li>
     </ul>

  


     <section>
        <router-outlet></router-outlet>
       
        
    </section>   
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <br>
        <br>
</body>
    











